@charset "utf-8";
/* CSS Document */

ul,ol{
	margin:0px;
	padding:0px;
	list-style-type:none;
	font-family:"華康少女文字W6";
	}
#nav{
	width:1280px;
	height:50px;
	background:url(image/nav.jpg)
	}
#nav ul li{
	float: left;
	line-height: 50px;
	padding: 0px 60px;
	position: relative;
}

#nav ul li a{
	color:#000;
	text-decoration:none;
	}

#nav ul li:hover .owrap{
	display:block;}

#nav ul li .owrap{
	position:absolute;
	background:url(image/sub.gif);
	display:none;
	}

#nav ul li ol li{
	float:none;
	line-height:30px;
	padding:0px 5px;}
